body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* Banner */

header {
    background-color: #2626A3;
    background-image: url(https://res.cloudinary.com/dke68lmlo/image/upload/q_30/v1573135017/layouts/banner-image-min.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 2em 0;
}

.banner-overlay {
    position: absolute;
    background-color: #2626A3;
    height: 100%;
    width: 100%;
    opacity: .8;
    top: 0;
    left: 0;
}

.banner-container {
    max-width: 1100px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 0 5%;
    color: white
}

.banner-text {
    margin-bottom: 3em;
}

.banner-text h1 {
    font-size: 2em
}

.wrapper {
    max-width: 1280px;
    height: 100%;
    margin: 1em auto;
    color: #2626A3;
    font-weight: 600;
}

.container {
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.container-flex {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1200px) {
    .container-flex {
        flex-direction: row-reverse;
    }
    .small {
        max-width: 300px;
    }
}

.form input {
    margin: 0 6px;
    width: 125px;
    font-size: 1em;
    color: #2626A3;
    font-weight: 600;
    text-align: center;
    border: none;
    border-bottom: 2px #2626A3 solid;
}

.form input[type=text] {
    width: 250px;
}

.form input:focus,
.form input:active {
    border: 2px #2626A3 solid
}


.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 1em;
    color: white;
	background-color:#546e7a;
    text-decoration: none;
    border: transparent;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px #a3a3a3;
    user-select: none;
}

.button:active {
    position: relative;
    top: 2px;
    box-shadow: none;
}

.positive {
    background-color: #0d0d64;
}

.button.positive:hover {
    background-color:#2626a3;
}

.negative {
    background-color: #B5090D;
}

.button.negative:hover {
    background-color: #E7171C;
}






/* remove default form button styling */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance:textfield; 
}